<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- Security considerations: check the integrity of the scripts using the "integrity" attribute and set the "crossorigin" attribute to "anonymous" to prevent cross-origin data leaks -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% if title %}
    <title>FRIDARE | {{ title }}</title>
    {% else %}
    <title>FRIDARE</title>
    {% endif %}
  </head>
  <body>
    <!-- todo: have a nav here -->
    <nav class="navbar navbar-fixed-top navbar-dark bg-dark">
<!--    <nav class="navbar navbar-dark" style="background-color: #656D78">-->
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index_view') }}">
          <img src="{{ url_for('static', filename='img/cmdr.png') }}" alt="" width="32" height="32" class="d-inline-block align-text-bottom" />
          FRIDARE
        </a>
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('fridrwr_view') }}"><em>fridrwr</em></a>
            </li>
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"-->
<!--                 aria-expanded="false">-->
<!--                Dropdown-->
<!--              </a>-->
<!--              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                <li>-->
<!--                  <hr class="dropdown-divider">-->
<!--                </li>-->
<!--                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--            </li>-->
          </ul>
<!--          <form class="d-flex">-->
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--          </form>-->
<!--        </div>-->
      </div>
    </nav>

    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>

    <footer class="fixed-bottom text-centre text-lg-start text-white text-muted bg-dark">
      <!-- Status -->
      <section class="d-flex justify-content-centre justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
<!--      <span><em>Some text goes here...</em></span>-->
          {% for message in get_flashed_messages() %}
          <span class="flash">{{ message }}</span>
          {% else %}
          <span><em>Nothing to report...</em></span>
          {% endfor %}
        </div>
        <div>
          <a class="m-1 btn btn-outline-light btn-floating" href="https://github.com/david-wm-sanders/fridrwr" >
            <i class="fa fa-github"></i>
          </a>
        </div>


      </section>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/f215590762.js"></script>
  </body>
</html>
